.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;

  position: sticky;
  background-color: #fff;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}


.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header_left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_left > img{
  height: 40px;
}

.header_center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
}

.header_option_active {
  border-bottom: 4px solid #2e81f4;
}

.header_option_active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header_option > .MuiSvgIcon-root{
  color: gray;
}

.header_option:hover > .MuiSvgIcon-root{
  color: #2e81f4;
}

.header_right {
  display: flex;
}

.header_info {
  display: flex;
  align-items: center;
}

.header_input > h4 {
  margin-left: 10px;
}


/* app body style */
.app {
  background-color: #f1f2f5;
  height: 100vh;
}

.app_body {
  display: flex;
}

/* Sidebar style */

.sidebar {
  flex: 0.4;
  padding: 25px 10px;
}

.sidebar_row {
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.sidebar_row:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebar_row > h4 {
  margin-left: 15px;
  font-weight: 600;
}

.sidebar_row > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}



/* Stories style */

.story_reel {
  display: flex;
}

.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0 5px 17px -7px rgba(0, 0, 0);
  margin-right: 10px;
  border-radius: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.1);
}

.story_avatar {
  margin: 10px;
  border: 2px solid #2e81f4;
}

.story > h4 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
}

.feed {
  flex: 1;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}